streamlit~=1.31.1
numpy~=1.26.4
tensorflow~=2.15.0
matplotlib~=3.8.3
joblib~=1.3.2
pillow~=10.2.0
keras~=2.15.0
pandas~=2.2.1
scikit-learn~=1.2.2
opencv-python
shap~=0.44.1
lime~=0.2.0.1
scikit-image~=0.22.0
plotly~=5.20.0